<!DOCTYPE html>
<html lang="en" ng-app="romanNumerals">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
          integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
          integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="./index.js"></script>
  <script src="./converter.js"></script>
  <title>Roman numerals</title>
</head>

<body ng-controller="mainController">
<div class="jumbotron jumbotron-fluid" ng-cloak>
  <div class="container">
    <h1 class="display-3">Roman numeral converter</h1>
    <p class="lead">Converts a number into a roman numeral</p>
    <form autocomplete="off">
      <div class="form-group">
        <input ng-model="input" class="form-control" type="number" pattern="-?[0-9]*(\.[0-9]+)?" min="1" max="3999"
               id="number-input" placeholder="Enter a number...">
      </div>
      <div class="alert alert-danger" ng-if="error">
        Input must be an integer between 1 and 3999.
      </div>
      <div class="form-group">
        <h4>{{result}}</h4>
      </div>
    </form>
  </div>
</div>
</body>
</html>